$font-stack: 'Oswald',
sans-serif;
$box-padding: 50px;
$font-menu: 'Josefin Sans',
sans-serif;
$small-size: 20px;
$font-other: 'PT Sans',
sans-serif;
$color-bar: #6B0E04;
$color-txt2: #6D6576;
$color-txt3: #FCFDF4;
$color-grn: #308A44;
body {
    margin: 0;
    background-color: $color-bar;
}

.food {
    margin: 0;
    padding: 0;
    font-family: $font-menu;
    color: white;
    font-size: 1em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #topping {
        padding: 10px;
        text-align: center;
    }
    .options {
        padding: 10px;
        text-align: center;
    }
    #wed {}
    h2 {
        padding: 5px;
    }
    h2,
    p {
        text-align: center;
    }
    #caketxt {
        display: flex;
        text-align: center;
        #size {
            margin-right: 50px;
        }
        #plain {
            margin-left: 100px;
        }
        #filling {
            margin-left: 40px;
            float: right;
        }
        p {}
    }
}

#pie {
    margin: 0;
    padding: 0;
    font-family: $font-menu;
    color: white;
    font-size: 1em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    #pielist {
        display: flex;
        flex-direction: row;
        ul {}
    }
    h2,
    p {
        padding: 5px;
    }
}

#special {
    font-family: $font-menu;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    #spec {
        width: 250px;
        border: 5px dotted white;
    }
    #tax {
        padding: 5px;
        margin-top: 70px;
    }
}

@media screen and (min-width: 560px) {
    .food {
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 960px) {
    #pie {
        font-size: 1.5em;
    }
    .food {
        font-size: 1.5em;
    }
}